.body {
  font-family: Poppins;
}
.navbar {
  background-color: rgb(3, 3, 3);
}

.nav .nav-link.active {
  background-color: #fff;
  color: rgb(220, 20, 170);
}

.nav .nav-link,
.navbar-brand,
.navbar-brand:hover {
  color: #fff;
  font-size: 20px;
}

.navbar-brand {
  font-family: Poppins;
  font-size: 30px;
}

.container img {
  width: 50px;
}

.navbar-toggler {
  background-color: #fff;
}

.section-title {
  font-family: Pacifico, cursive;
}

.section-title span {
  color: rgb(220, 20, 170);
}

.text-colored {
  color: rgb(220, 20, 170);
}
